.setup-view {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 0.5rem;
}

.setup-view__actions {
  margin-top: 12px;
}

.setup-view__add-play-card {
  cursor: pointer;
}
