.text-input__input {
  display: block;
  width: 100%;
  font-family: 'Jacquard 12 Charted';
  font-size: 32px;
  line-height: 1;

  border: solid 1px var(--rfi-yellow);
  box-shadow: inset -2px 2px 0 #000;

  &:focus {
    outline: none;
  }
}
