<div class="card-editor ">
    <button class="card-editor__close">X</button>
    <div class="card-editor__info">
        <h2>Character Sheet</h2>
        <div class="card-editor__input-row">
            <label>NAME:</label>
            <input class="card-editor__input-name" />
        </div>
        <div class="card-editor__input-row">
            <label>Initiative:</label>
            <input class="card-editor__input-name" />
        </div>
        <div class="card-editor__input-row">
            <label>Roll:</label>
            <input disabled class="card-editor__input-name" />
        </div>
    </div>

    <div class="card-editor__image-wrapper">
        <img class="card-editor__image" />
        <input class="card-editor__input-image" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
    </div>
</div>