.player-actions {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: end;
    width: 100vw;
    font-family: jacquard12;
    right: 48px;
    top: 24px;
}

.player-actions__button {
    font-family: jacquard12;
    font-size: 75px;
    color: #FFff00;
    font-weight: 500;
    background: transparent;
}