.card-editor {
  background: rgba(0, 0, 0, 0.75);
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  padding: 20px;
}

.card-editor__info {
  flex: 1;
  padding: 10px;
  height: 100%;
  font-family: runescape;
  color: #ffff00;
  font-size: 32px;
}

.card-editor__image-wrapper {
  flex: 1;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
}

.card-editor__image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  transform: rotate(180deg);
}

.card-editor__close {
  all: unset;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #000000;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;
}

.card-editor__close:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
}

.card-editor__input-name {
  height: 64px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  border: none;
  font-family: runescape;
}

.card-editor__input-row {
  display: flex;
  align-items: center;
}

.card-editor__input-row > label {
  margin-right: 16px;
}

.card-editor__input-image {
  position: absolute;
  z-index: 100;
  bottom: 0;
}

.card-editor__input-image::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border: 2px solid #ffff00;
  border-radius: 3px;
  height: 60px;
  width: 100%;
  background-color: #000000;
  color: #ffff00;
  font-family: runescape;
  font-size: 24px;
}
.card-editor__input-image::file-selector-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
}
